/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
/*Algemeen*/
body{
  margin: 0em;
  top: 0;
  font-family: Questrial, sans-serif;
  font-weight: 400;
}

h2 h4 h5{
  font-family:'Tahoma';
}
  
h1{
  margin: 0.8em 0em 0.5em 0.8em;
  font-size: 1.5em;
}

h2{
  margin: 0em 0em 1em 1.4em;
  font-size: 0.9em;
  text-align: center;
}

h3{
  text-align: left;
  font-size: 1em;
  font-weight: 900;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

h5{
  text-align: center;
  margin-top: 5em;
}

p{
  text-align: center;
}

/*buttons*/
.button{
  text-decoration: none;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.8em;
  margin: 1.5em 2em 3.5em 2em;
}

.button2{
  text-decoration: none;
  display: block;
  background-color: white;
  color: black;
  border: 0.5px solid grey;
  text-align: center;
  padding: 0.8em;
  margin: 0em 2em 3em 2em;
}


/*HEADER*/
header {
  /*position: -webkit-sticky; /* Safari */
  /*https://www.w3schools.com/howto/howto_css_sticky_element.asp  -webkit voor safari*/
  position: sticky;
  text-align: center;
  margin: 0;
  z-index: 10;
}

header p{
  background-color: #26282D;
  color: white;
  font-family: sans-serif;
  font-size: 0.75em;
  font-weight: lighter;
  margin: 0;
  padding: 0.9em;
}

header nav ul{
  list-style:none;
  display: flex;
  background-color: white;
  margin: 0em;
  padding: 0.8em;
  
}

header nav li{
  flex-grow: 1;
}

/*dropdown*/
#dropdownMenu{
  display: none;
}

#dropdownMenu.laatMenuZien{
  transition: 0.45;
  display: block;
  text-align: left;
  position: absolute;
  width: 105%;
  margin-left:-1em;
}

#dropdownMenu.laatMenuZien li{
  padding: 1em 0em 1em 1em;
  border-bottom: 0.5px solid grey;
}

#menu{
  text-align: left;
}



/*TEKSTBLOKJES*/
.tekstblokje{
  position: relative;
  text-align:center;
  margin:2em;
  margin-bottom:4em;
}


.tekstblokje a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 0.7em;
  font-family: sans-serif;
}


/*PRODUCTSLIDERS*/
.productSlider1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left:1em;
  margin-right: 1em;
  max-width: 100%;
}
.productSlider1 img{
  width: 100%;
}
.productSlider1 ul{
  list-style: none;
  max-width: 95%;
  font-size: 0.8em;
  padding-left: 0em;
}

.productSlider1 ul li{
  position: relative;
}

.productSlider1 img{
 margin-bottom: 0.4em;
}

.productSlider1 li:nth-of-type(2){
  font-weight: bold;
  margin-bottom: 1em;
}

.productSlider1 li:last-of-type{
  font-weight: lighter;
  font-size: 0.8em;
}


/*videoplayer*/
iframe{
  margin-top:1em;
  width: 100%;
}

/*Social media posts*/
.socials{
  width: 100%;
  margin:0em;
  margin-bottom: 3em;
}

.socials ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin:0em;
  padding: 0em;
  flex-wrap: wrap;
}

.socials h5{
  text-align: center;
}

input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 1em 0em;
}

/*PAGINA 2*/

.sizes{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 90%;
  margin-top: 2em;
}
.sizes ul{
  padding-left: 0em;
}

.sizes li{
  text-decoration: none;
  display: inline;
  border: 0.5px solid black ;
  margin:0em;
  padding:0.8em;
  font-size: 0.7em;
}

#details{
  display: none;
}

#productDetails{
  margin-left: 1.8em;
  font-size: 1.2em;

}
.titelProductInformatie {
  display: inline-flex;
  list-style-type: none;
  text-align: left;
  padding-left:0em;
}

#details.laatDetailsZien{
  display: block;
}

#details.laatDetailsZien p{
  text-align: left;
  margin: 1em 2.7em 4em 2.7em;
  font-size: 0.8em;
}

.message{
  background-color: #dadada;
  margin: 4em 0em 4em 0em;
  padding: 1.5em;
}

/*MEDIAQUERIES*/
@media (min-width:600px){
.productSlider1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  }
}


@media (min-width:600px){
  .socials ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  } 
}
@media (min-width:800px){
  .socials ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
  } 
}


/*FOOTER*/
footer{
  bottom: 0;
  background-color: #26282D;
  color: white;
  margin-top:3em
}

footer img{
  margin:-1.4em 1em 1em 1em;
}

footer ul{
 list-style: none;
 text-align:center;
 padding:0em;
 margin-left:0em;
 margin-bottom: 0em;
}

footer ul li:first-of-type{
  font-weight: bold;
  margin-bottom: 1em;
}

footer ul li{
  font-size: 0.8em;
}

.privacy{
  display: flex;
  font-size: 0.8em;
}

.privacy li{
  flex-grow: 1;
  margin:3.5em 0em 1.5em 0em;

  color:gray;
}